@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p{
    font-family: 'Poppins', sans-serif;
}
div {
    font-family: 'Poppins', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form {
    position: absolute;
    width: 369px;
    height: 698.46px;
    left: 892px;
    top: 100px;
}