.content {
    position: absolute;
    width: 629px;
    height: 664px;
    left: 175px;
    top: 294px;
}

.maskot {
    position: absolute;
    width: 313px;
    height: 556px;
    left: 291px;
    top:100px;
}